---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import Folder from "../components/Folder.astro";
import DSMLink from "../components/DSMLink.astro";

import allItems from "../data/items_dsm.json";
let Item_chapters = [];

let I = -1;
for (let i = 0; i < allItems.length; i++) {
	let item = allItems[i];

	if (item[1] == "-") {
		I = I + 1;
		let chapter = {
			title: item[0],
			items: []
		}

		Item_chapters[I] = chapter;
	} else if (item[1] == "") {
		let chapter = Item_chapters[I];
		chapter.items.push(item)

	}else{
		let chapter = Item_chapters[I];
		chapter.items.push(item)
	}
}
---

<style>
	.dsm-header {
		text-align: center;
		font-weight: bold;
	}
</style>

<BaseLayout pageTitle="SetaDiagnosticAndStatisticalManualOfMentalDisorders">
	<Card>
		<p class="card-title">DSM5-TR</p>
		<p class="card-text">Shorcut links to DSM5 (WIP!!!!!!!)</p>
	</Card>


	{
		Item_chapters.map((chapter) => (

			<Folder name={chapter.title}>
				{
					chapter.items.map((item) => (
						item[0] == "" ? <br/> :
						item[1] == "" ? <p class="dsm-header">{item[0]}</p> : 
						<DSMLink name={item[0]}, page={item[1]}, urlpage={item[2]}/>
					))
				}
				
			</Folder>
		))
	}
</BaseLayout>

